{% if render_title %}{# title handled by title_format, not used #}{% endif %}
{% for section, _ in sections.items() %}
{% if section %}

{{ section }}
{% endif %}
{% for category, val in definitions.items() if category in sections[section] %}
### {{ definitions[category]['name'] }}

{% for text, values in sections[section][category].items() %}
{% set issues = values | join(", ") %}
{% if text and issues %}
- {{ text }} ({{ issues }})
{% elif text %}
- {{ text }}
{% elif issues %}
- {{ issues }}
{% endif %}
{% endfor %}
{% endfor %}
{% endfor %}
